a{text-decoration:none;color:#232;font-weight:bold}
a:hover{text-decoration:underline}
body{font:16px/1.5 Merriweather, sans serif;color:#222;max-width:700px;margin:40px auto;padding:10px;background-color: #FEFFFE}
p.date{font-style:italic}
h1,h2,h3{line-height:1.2}
h3.post-listing{display:inherit}
td.date{width:25%}
td{vertical-align:top}
code{font-size:16px;line-height:1.2}
footer{margin-top:20px}
blockquote{border-left:1px #444 solid;color:#444;padding-left:10px}
